{% extends "@Admin/base.html.twig" %}

{% block main %}

    <h1 class="h3">Créer un arc</h1>

    <div class="row">
        <div class="col-12">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}